<html>
<head>
    <title>Website</title>
<style>
@import url(http://fonts.googleapis.com/css?family=Amatic+SC:700);
 
body{
    text-align: center;    
}
h1{
    font-family: 'Amatic SC', cursive;
    font-weight: normal;
    color: #8ac640;
    font-size: 2.5em;
}
</style>
 
</head>
<body>
    <div>
        <a href="/">Home</a>
    </div>
    <!-- using a with construct to assign the result of calling get_flashed_messages() to a messages variable, all in the context of the template -->
    <!-- The get_flashed_messages() function comes from Flask, and returns a list of all the messages that have been registered with flash() previously -->
    <!-- once they are requested once through the get_flashed_messages function they are removed from the message list -->
    {% with messages = get_flashed_messages() %}
    {% if messages %}
        <ul>
            {% for message in messages %}
            <li>{{ message }}</li>
            {% endfor %}
        </ul>
    {% endif %}
    {% endwith %}
    {% block content %}{% endblock %}
</body>
</html>