<!DOCTYPE html>
<html>
<head>
<meta http-equiv="content-type" content="text/html; charset=utf-8" />
<title>RESUME | {{name}}</title> 
<link rel="stylesheet" href="resume.css" type="text/css" />
</head>
<body>
<!-- BEGIN DIV FOR OVERALL BOX -->
<div id="resume">
<!-- THIS DIV CENTERS OUR HEADING -->
<div id="topinfo">
<h1>Details</h1>
<h2>{{name}}</h2>
<h2>{{sid}}</h2>
<h2>{{phone}}</h2>
<h2>{{email}}</h2>
<br />
<!-- END CENTERING DIV -->
</div>
<h1>Resume</h1>
<h2>{{resume}}</h2>
</div>
</body>
</html>